BankClient/src/META-INF/wsdl/localhost_8080/BankServer.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bankserver/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bankserver/" name="ClientServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://bankserver/" schemaLocation="http://localhost:8080/BankServer?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"></part>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"></part>
</message>
<message name="getBankName">
<part name="parameters" element="tns:getBankName"></part>
</message>
<message name="getBankNameResponse">
<part name="parameters" element="tns:getBankNameResponse"></part>
</message>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<message name="logout">
<part name="parameters" element="tns:logout"></part>
</message>
<message name="logoutResponse">
<part name="parameters" element="tns:logoutResponse"></part>
</message>
<message name="createTransaction">
<part name="parameters" element="tns:createTransaction"></part>
</message>
<message name="createTransactionResponse">
<part name="parameters" element="tns:createTransactionResponse"></part>
</message>
<message name="createAccount">
<part name="parameters" element="tns:createAccount"></part>
</message>
<message name="createAccountResponse">
<part name="parameters" element="tns:createAccountResponse"></part>
</message>
<message name="getAccounts">
<part name="parameters" element="tns:getAccounts"></part>
</message>
<message name="getAccountsResponse">
<part name="parameters" element="tns:getAccountsResponse"></part>
</message>
<message name="getTransactionsForAccount">
<part name="parameters" element="tns:getTransactionsForAccount"></part>
</message>
<message name="getTransactionsForAccountResponse">
<part name="parameters" element="tns:getTransactionsForAccountResponse"></part>
</message>
<portType name="ClientService">
<operation name="register">
<input wsam:Action="http://bankserver/ClientService/registerRequest" message="tns:register"></input>
<output wsam:Action="http://bankserver/ClientService/registerResponse" message="tns:registerResponse"></output>
</operation>
<operation name="getBankName">
<input wsam:Action="http://bankserver/ClientService/getBankNameRequest" message="tns:getBankName"></input>
<output wsam:Action="http://bankserver/ClientService/getBankNameResponse" message="tns:getBankNameResponse"></output>
</operation>
<operation name="login">
<input wsam:Action="http://bankserver/ClientService/loginRequest" message="tns:login"></input>
<output wsam:Action="http://bankserver/ClientService/loginResponse" message="tns:loginResponse"></output>
</operation>
<operation name="logout">
<input wsam:Action="http://bankserver/ClientService/logoutRequest" message="tns:logout"></input>
<output wsam:Action="http://bankserver/ClientService/logoutResponse" message="tns:logoutResponse"></output>
</operation>
<operation name="createTransaction">
<input wsam:Action="http://bankserver/ClientService/createTransactionRequest" message="tns:createTransaction"></input>
<output wsam:Action="http://bankserver/ClientService/createTransactionResponse" message="tns:createTransactionResponse"></output>
</operation>
<operation name="createAccount">
<input wsam:Action="http://bankserver/ClientService/createAccountRequest" message="tns:createAccount"></input>
<output wsam:Action="http://bankserver/ClientService/createAccountResponse" message="tns:createAccountResponse"></output>
</operation>
<operation name="getAccounts">
<input wsam:Action="http://bankserver/ClientService/getAccountsRequest" message="tns:getAccounts"></input>
<output wsam:Action="http://bankserver/ClientService/getAccountsResponse" message="tns:getAccountsResponse"></output>
</operation>
<operation name="getTransactionsForAccount">
<input wsam:Action="http://bankserver/ClientService/getTransactionsForAccountRequest" message="tns:getTransactionsForAccount"></input>
<output wsam:Action="http://bankserver/ClientService/getTransactionsForAccountResponse" message="tns:getTransactionsForAccountResponse"></output>
</operation>
</portType>
<binding name="ClientServicePortBinding" type="tns:ClientService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="register">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getBankName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="logout">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createTransaction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="createAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAccounts">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTransactionsForAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ClientServiceService">
<port name="ClientServicePort" binding="tns:ClientServicePortBinding">
<soap:address location="http://localhost:8080/BankServer"></soap:address>
</port>
</service>
</definitions>